.main-type{
    width: auto;
    height: auto;
    margin: 20px 0px;
}

.heading-type{
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
    text-decoration:underline;
}

.type-list{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-title{
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px dotted black;
}


