.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.home-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  font-size: 14px;
  border-radius: 5px;
  padding: 7px 10px;
}
.Heading {
  text-align: center;
  color: #4a90e2;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content h3 {
  margin-top: 1rem;
  text-align: left;
  color: rgb(94, 133, 4);
  margin-bottom: 20px;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  max-width: 600px;
  margin-bottom: 20px;
  text-align: justify;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
